doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    -var chkValue = "登入";
    -var chkHref ='/users/login';
    -var regLink ='<a href="/users/reg">注册</a>';
    if user
        -chkValue = "登出";
        -chkHref = '/users/logout';
        -regLink ='';
        -var Link1 = '<li class="dropdown link2"><a href="#" class="dropdown-toggle" data-toggle="dropdown">楼层 <b class="caret"></b></a><ul class="dropdown-menu"><li><a href="/fllors/add">新建楼层</a></li><li><a href="/fllors">楼层列表</a></li></ul></li>';
        -var Link2 = '<li class="dropdown lin3"><a href="#" class="dropdown-toggle" data-toggle="dropdown">住户 <b class="caret"></b></a><ul class="dropdown-menu"><li><a href="/holders/add">新建住户</a></li><li><a href="/holders">住户列表</a></li></ul></li>';
        -var Link3 = '<li class="dropdown link4"><a href="#" class="dropdown-toggle" data-toggle="dropdown">费用 <b class="caret"></b></a><ul class="dropdown-menu"><li><a href="/costs/add">录入费用</a></li><li><a href="/costs">费用列表</a></li></ul></li>';
        -var Link4 ="<li class='link5'><a  href='/failures'>申报处理</a></li>";
        
    nav.navbar.navbar-inverse(role="navigation").
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">***小区</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="link1">
                <a href="/">首页</a>
            </li>
            <li>
                !{regLink}
            </li>
            !{Link1}
            !{Link2}
            !{Link3}
            !{Link4}
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li>
                <a href =#{chkHref}>#{chkValue}</a>
        </li>
        </ul>
      </div>
  div.container#container
    block content
    hr
    footer.
      <p>
        ***小区2014
      </p>
      
  script(src='/bootstrap/js/jquery-2.1.0.js')
  script(src='/bootstrap/js/bootstrap.js')
  script(src='/javascripts/jquery-ui-1.10.0.custom.min.js')
  script(src='/javascripts/my.js')